.theMap {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .cockpit {
        background-color: aliceblue;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 10px;
    }

    .leafletContainer {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
}

.leagueDrawer {
    width: 640px;

    header {
        padding: 20px 30px;
    }

    form {
        padding: 30px;

        .textField {
            width: 100%;
        }
    }
}
