.leagueDrawer {
    width: 640px;

    .formHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #101035;
    }

    header {
        padding: 20px 30px;
        color: aliceblue;
        width: 90%;
    }

    form {
        padding: 30px;

        .textField {
            width: 100%;
        }
    }

    .actions {
        padding: 20px 30px;
        display: flex;
        justify-content: flex-end;
    }
}
